html {
	font-size: 100%;
	font-family: georgia;
	overflow-x: hidden;
}

/* NEXA FONT */

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_free_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_free_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* HEADINGS, PARAGRAPH AND TEXT */

h1 {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 3.75rem;
	line-height: 4.375rem;
	margin-bottom: 3.375rem;
	color: #2f298f;
}

h2 {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 2.25rem;
	margin-bottom: 2rem;
	color: #2f298f;
}

h3 {
	font-size: 1.875rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: georgia, serif;
}

span {
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-style: italic;
}

a {
	text-decoration: none;
	color: inherit;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

a:hover {
	opacity: 0.5;
}

.copyright {
	padding: 2rem 1.8rem 2rem 1.8rem;
}

.copyright > p {
	font-family: arial, sans-serif;
	font-size: 0.85rem
}

.copyright > p > a {
	text-decoration: none;
	color: inherit;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	color: #2f298f;
}


/* FONTAWESOME ICON */

.fa {
	font-size: 1.5rem;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

/* LAYOUT */

.main-container {
	background: #00F6C8 url(../images/pattern.svg);
	padding: 2rem 1.8rem 2rem 1.8rem;
}

.content {
	padding: 3rem 1.8rem 0rem 1.8rem;
}

/* LIST CONTENT */

.menu-list > li > ul > li {
	font-family: georgia;
	font-size: 2.25rem;
	margin-bottom: 0.8rem;
}

.menu-list > li {
	font-family: georgia;
	font-size: 2.25rem;
	margin-bottom: 0.8rem;
}

.menu-list > li > a > p {
	font-style: italic;
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: #999999;
}

/* CONTENT HEADER */

.content-title-header {
	font-family: georgia;
	font-weight: bold;
	margin-bottom: 0.8rem;
	color: #000;
}

.content-list-header {
	margin-top: 2.5rem;
	font-size: 1.875rem;
	line-height: 2.125rem;
}

.content-list-header > li {
	margin-bottom: 1rem;
}

/* DIVIDER */

.menu-list > li > ul {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 2.8rem;
	padding-bottom: 2rem;
}

/* HEADER */

.img-header {
	margin: -1rem -1.8rem -2.2rem -14.8rem;
}

.logo-header {
	margin-bottom: 1.8rem;
}

.logo-header > a > img {
	float: left;
}

.logo-header > a > p {
	float: left;
	padding-left: 1rem;
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #2f298f;
}

.back-header {
	text-align: right;
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #2f298f;
	padding-top: 0.5rem;
}

header > div > .col-xs-8 {
	padding-right: 0rem;
}

header > div > .col-xs-4 {
	padding-left: 0rem;
}

header > div > .back-header > i {
	margin-left: 0rem;
	margin-right: 0.5rem;
}
